@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Kaushan+Script&family=Oswald:wght@200..700&display=swap');

:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d:
    --main-gray: #303841;
    --main-black: #000000;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Comfortaa, sans-serif;
    background-color: var(--on-background);
}

h1 {
    font-family: Kaushan Script, sans-serif;
    font-size: 100px;
}

/* Navigation */
nav {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100vw;
    font-family: Oswald, sans-serif;
    background: var(--main-red);
}

li {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-white);
    font-size: 1.3rem;
}

a:hover {
    color: var(--main-black);
    border-bottom: 3px solid;
}

.nav-list {
    list-style: none;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    margin: 0px 15px 0px 0px;
}

.nav-link {
    margin: 0 15px;
}
