/* Google Font Here */

:root {
    --primary-light-orange: hsl(30, 100%, 59%);
    --primary-dark-orange: hsl(14, 100%, 52%);
    --primary-dark-blue: hsl(252, 61%, 8%);
    --primary-faded-white: hsl(0, 0%, 96%);
    --secondary-white: hsl(0, 0%, 100%);
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    color: var(--primary-faded-white);
    background-color: var(--primary-dark-blue);
}

#about-card {
    border: none;
}

#profile-img {
    display: flex;
    justify-content: end;
}





.large-icon {
    font-size: 2rem;
}